@page "/MiHistoria"
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <div class="bg-light p-4 rounded">
                <h2 class="fw-bold">Mi historia</h2>
                <p> A continuación les escribiré algo sobre mi historia de vida.</p>
            </div>
        </div>

        <div class="row mt-4 text-center">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://img.freepik.com/fotos-premium/joven-estudiante-universitario-masculino-libros_488220-29369.jpg" class="card-img-top" alt="Imagen de laptop">
                    <div class="card-body">
                        <h5 class="card-title">Formación</h5>
                        <p class="card-text">Cuento algo sobre mi formación.</p>
                        <a href="#" class="btn btn-primary">Conocer más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://th.bing.com/th/id/OIP.GW7X4DsBWHXIEd-n5Zsj9gHaE7?rs=1&pid=ImgDetMain" class="card-img-top" alt="Hobbies">
                    <div class="card-body text-center">
                        <h5 class="card-title">Hobbies</h5>
                        <p class="card-text">Cuento algo sobre mis hobbies.</p>
                        <a href="#" class="btn btn-primary">Conocer más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://code-schule.de/wp-content/uploads/2020/08/programmierer.jpg" class="card-img-top" alt="Mi historia">
                    <div class="card-body text-center">
                        <h5 class="card-title">Mi historia</h5>
                        <p class="card-text">Cuento algo sobre lo que espero de mi carrera.</p>
                        <a href="#" class="btn btn-primary">Conocer más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
